# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.nc
# Compiled Static libraries
*.lai
*.la
*.a
*.so
*.so.*
*.dylib
config.status
data/*.nc

# Executables
*.exe
*.out
*.app
config.log
src/nco/.libs/
